<app-nav></app-nav>
<button (click)="createUser()">Crear usuario</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Profile</button>
<a href="./assets/files/text.txt">descargar</a>
<button (click)="donwloadPdf()">Descarger PDF</button>
<p>
  <input type="file" (change)="onUpload($event)" />
  <img *ngIf="imgRta" [src]="imgRta" alt="" />
</p>
<app-products></app-products>

<!--
  <p><input type="text" [(ngModel)]="imgParent" /> </p>
<button (click)="toggleImage()">Toggle image</button>
<p>{{ showImage }}</p>
<app-img *ngIf="showImage" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
-->
